/* eingabemaske.css */

/* Globaler Header mit den Spaltenüberschriften */
.eingabemaske-global-header {
    display: flex;
    gap: 0.5rem;
    margin-bottom: 0.5rem;
  }
  
  /* Äußere Zeile (gesamter Eingabeblock) */
  .eingabemaske-row {
    display: flex;
    gap: 0.5rem;
    margin-bottom: 0.5rem;
    align-items: stretch;
  }
  
  /* Innerer Abschnitt – dunkler Hintergrund mit etwas Padding */
  .eingabemaske-abschnitt {
    background-color: #e0e0e0;
    margin-bottom: 0.5rem;
    padding: 0.3rem;
    border-radius: 4px;
  }
  
  /* Der Button zum Hinzufügen eines neuen inneren Abschnitts */
  .inner-section-button {
    text-align: left;
    margin-top: 0.5rem;
  }

  .dropdown-menu{
    padding: 0;
  }

  .dropdown-menu ul {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    display: none;
    z-index: 1050;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  }

  .nebenzeiten-row > .minutenEingabe{
    flex:1;
    min-width: 3.5rem;
  }

  .nebenzeitenDropdown{
    flex:3
  }
  
  .btn-outline-secondary {
    margin-right: 10px;
    min-width: 38px;
    min-height: 38px;
  }

  .btn-outline-danger{
    margin-right: 10px;
    min-width: 38px;
    min-height: 38px;
  }

  .minus-eingabemaske {
    margin-top: 0.5rem;
  }

  .gesamtstunden-container{
    margin-top: 0.5rem;
  }

  .gesamtStunden-text{
    align-content: center;
    margin-right: 1rem;
  }