body{
    color: #153A2A;
}

header {
    background-color: #153A2A;
    color: #ffffff;
  }

  
.logo{
    padding: 0px 10px 0px 10px;
    height: 80px;
}

.btn-primary{   
    background-color: #153A2A; 
    border-color: #153A2A;
}

.btn-primary:hover{
    background-color: #BFCF28;
    border-color: #BFCF28;
}

.btn-secondary{
    background-color: #BFCF28;
    border-color: #BFCF28;
}

.btn-secondary:hover{
    background-color: #BFCF28;
    border-color: #BFCF28;
}

header .nav {
    margin-right: 10px;
    align-items: center;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
    background-color: #BFCF28;
    color: #153A2A;
}

body {
    background-color: #f0f0f0; 
}
  
.container {
    background-color: #f0f0f0; 
}

.fs-4{
    color: #ffffff;
}

.fixed-label {
    height: 4.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow-wrap: break-word;
    word-break: break-word;
}
 
.col-1 {
    min-width: 80px;
}

.col-3 {
    min-width: 240px;
}

.dropdown-menu{
    padding: 0;
  }

  .dropdown-menu ul {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    display: none;
    z-index: 1050;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  }


/* Für Chrome, Safari, Edge, Opera */
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
